Pods/DocumentReaderFullRFID/DocumentReaderCore.xcframework/ios-arm64_x86_64-simulator/dSYMs/DocumentReaderCore.framework.dSYM/Contents/Resources/DWARF/DocumentReaderCore filter=lfs diff=lfs merge=lfs -text
